body {
    background-color: #F9F9F8;
    color: #39383C;
   
    
}



h1, h2, h3 {
    color: #837773;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 0px;
    line-height: 3.5rem;
}



h1#main-page-headline {
    margin-bottom: 5px;
    
}

p.tagline {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0px;
    padding-bottom: 20px;
    color: #918A85;
    font-family: 'Ubuntu', sans-serif;
}

span.fancy-link {
    color: #39383C;
    text-decoration: underline;
    text-decoration-color: #39383C;
    font-family: 'Ubuntu', sans-serif;
}

span.fancy-link:hover {
    color: #918A85;
    text-decoration-color: #918A85;
}

div.centered-div {
    width: 50%;
    padding: 20px;
    margin: auto;
    font-family: 'Lora', serif;
    text-align: center;
    list-style-position: inside;

}

div.skill-row {
    width: 75%;
    margin: auto auto 50px auto;
}

div.skill-row-left {
    text-align: left;
}

div.skill-row-right {
    text-align: right;
}

div.career-row {
    margin-bottom: 20px;
}

div.career-col {
    display: inline-block;
}

div.career-years-div {
    position: relative;
    text-align: left;
    width: 45%;
    left: 20%;
}

div.career-description-div {
    text-align: left;
    width: 45%;
}


img.dartungar-photo {
    width: 200px;
}

img.skill-icon-left {
    width: 60px;
    float: left;
    margin-right: 20px;
    margin-bottom: 60px;
}

img.skill-icon-right {
    width: 70px;
    float: right;
    margin-left: 20px;
    margin-bottom: 60px;
}

hr {
    width: 5%;
    color: #A6A3A2;
    /* border-style: dotted none none none; */
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr.weird-hr {
    margin-top: 90px;
}