body {
    background-color: #F9F9F8;
    color: #39383C;
    margin: 0px;
    width: 100%;
    
}

.top-container {
    width: 100%;
    /* background-color: #A6A3A2;
    color: #F9F9F8; */
    margin-top: 15px;
    padding: 50px auto 30px auto;
    text-align: center;
}

.middle-container {
    width: 50%;
    margin: auto;
    font-family: 'Lora', serif;
    text-align: center;
    list-style-position: inside;

}

.bottom-container {
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
}


div.skill-row {
    width: 75%;
    margin: auto auto 50px auto;
}

div.skill-row-left {
    text-align: left;
}

div.skill-row-right {
    text-align: right;
}

div.career-row {
    margin-bottom: 20px;
}

div.career-col {
    display: inline-block;
}

div.career-years-div {
    position: relative;
    text-align: left;
    width: 45%;
    left: 27%;
}

div.career-description-div {
    text-align: left;
    width: 45%;
}



h1, h2, h3 {
    color: #837773;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 3rem;
    margin-top: 0px;
    line-height: 3.5rem;
}

h1#main-page-headline {
    margin-bottom: 5px;
    
}

h3 {
    margin-left: 70px;
}

p.tagline {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0px;
    padding-bottom: 20px;
    color: #918A85;
    font-family: 'Ubuntu', sans-serif;
}

span.fancy-link {
    color: #39383C;
    text-decoration: underline;
    text-decoration-color: #39383C;
    font-family: 'Ubuntu', sans-serif;
}

span.fancy-link:hover {
    color: #918A85;
    text-decoration-color: #918A85;
}




img.dartungar-photo {
    width: 200px;
    margin: 20px auto 20px auto;
}

img.skill-icon-left {
    width: 50px;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
}

img.skill-icon-right {
    width: 70px;
    float: right;
    margin-left: 20px;
    margin-bottom: 60px;
}

hr {
    width: 5%;
    color: #A6A3A2;
    /* border-style: dotted none none none; */
    border-width: 1px;
    margin: 50px auto 50px auto;
}

hr.weird-hr {
    margin-top: 90px;
}